<div *ngIf="status == statusEnum.SUCCESS">
  <a routerLink="/products/add" *ngIf="canAdd" i18n="@@Products-add">
    Add a new product</a
  >

  <mat-card *ngFor="let product of products" color="primary">
    <mat-card-header color="primary">
      <a [routerLink]="['/products', product.id]">{{ product.name }}</a>
    </mat-card-header>
    <mat-card-content>
      <p i18n="@@Products-category">Category: {{ product.category }}</p>
      <p>${{ product.price }}</p>
    </mat-card-content>
  </mat-card>
</div>
<div i18n="@@Products-loading" *ngIf="status == statusEnum.PENDING">
  Loading page...
</div>
