<div *ngIf="status == statusEnum.SUCCESS">
  <mat-card *ngFor="let product of products" color="primary">
    <mat-card-header color="primary">
      <a [routerLink]="['/products', product.id]">{{ product.name }}</a>
    </mat-card-header>
    <mat-card-content>
      <p i18n="@@Cart-category">Category: {{ product.category }}</p>
      <p>${{ product.price }}</p>
    </mat-card-content>
  </mat-card>
</div>
<div i18n="@@Cart-loading" *ngIf="status == statusEnum.PENDING">
  Loading page...
</div>
<div i18n="@@Cart-processing" *ngIf="status == statusEnum.PROCESSING">
  Processing...
</div>
<div i18n="@@Cart-error" *ngIf="status == statusEnum.ERROR">
  An error has occured.
</div>

<button
  i18n="@@Cart-checkout"
  *ngIf="products.length !== 0"
  (click)="onParentCheckout()"
>
  Check out
</button>
