<form
  *ngIf="
    formGroup != undefined && (status === 'logged out' || status === 'error')
  "
  (ngSubmit)="onParentSubmit()"
  [formGroup]="formGroup"
>
  <label for="username">Username: </label>
  <input id="username" type="text" formControlName="username" />

  <label for="password">Password: </label>
  <input id="password" type="password" formControlName="password" />
  <input
    type="submit"
    class="forsubmit"
    value="Submit"
    [disabled]="!formGroup.valid"
  />
</form>
<div *ngIf="status === 'pending'">Loading page...</div>
<div *ngIf="status === 'error'">Error logging in.</div>
