<div *ngIf="product != undefined && status == 'success'">
  <h2>{{ product.name }}</h2>
  <h3>Category: {{ product.category }}</h3>
  <h3>${{ product.price }}</h3>
  <h3>${{ product.description }}</h3>
  <img src="{{ product.image }}" />
  <h3>
    <button (click)="parentOnActivateEdit()" *ngIf="isAdmin">
      Edit this product
    </button>
  </h3>
  <h3><a routerLink="/products">Back to all products</a></h3>
  <button (click)="parentOnAddToCart()" *ngIf="isCustomer">Add to cart</button>
  <button (click)="parentOnDelete()" *ngIf="isAdmin">
    Delete this product
  </button>
</div>
<div *ngIf="status == 'pending'">Page is loading...</div>
<div *ngIf="status == 'error'">An error has occured.</div>
