<form (ngSubmit)="onParentSubmit()" [formGroup]="formGroup">
  <label for="name">Name: </label>
  <input
    id="name"
    type="text"
    formControlName="name"
    value="{{ product?.name }}"
  />

  <label for="category">Category:</label>
  <input
    id="category"
    type="text"
    formControlName="category"
    value="Altready filled"
  />

  <label for="price">Price: </label>
  <input
    id="price"
    type="text"
    formControlName="price"
    value="{{ product?.price }}"
  />

  <label for="description">Description: </label>
  <input
    id="description"
    type="text"
    formControlName="description"
    value="{{ product?.description }}"
  />

  <label for="image">Image Url: </label>
  <input
    id="image"
    type="text"
    formControlName="image"
    value="{{ product?.image }}"
  />

  <input type="submit" class="forsubmit" value="Submit" />
</form>
